	html {
		width: 90%;
		margin: 0 auto;
		font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	}

	img {
		width: 100%;
	}
	a {
		text-decoration: none;
	}
	
	.panel {
		float: right;
		border: none;
	}

	.form {
		background: white;
		width: 100%;
		max-width: 200px;
		border: 1px solid grey;
		padding: 15px;
		margin: 5px;
		font-size: 15px;
	}
	div.box {
		margin-left: auto;
	    margin-right: auto;
	    padding: 10px;
	    width: 100%;
	    max-width: 300px;
	}

	input.btn {
		font-size: 15px;
		border-radius:5px;
		border: none;
		padding: 10px;
		background-color: blue;
		color: white;
	}

	button{
		font-size: 15px;
		border-radius:5px;
	}

	button.btn{
		border: none;
		padding: 10px;
		background-color: blue;
		color: white;
	}

	button.btnReg{
		border: 1;
		padding: 8px;
		color: blue;
		font-weight: bold;
		border-color: blue;
		background-color: white;
		border-style: solid;
	}

	.col-1 {
		width: 45%;
		float: left;
		margin: 10px;
	}
	
	.err {
			color: red;
			font-style: italic;
	}

	@media screen and (max-width: 500px) {
		html {
			width: 95%;
		}
		.col-1 {
			width: 100%;
			display: block;
			float: none;
			margin: 0;
		}

		.form {
			width: 90%;
		}
	}