	html {
		width: 85%;
		margin: 0 auto;
	}

	img {
		width: 100%;
	}
	
	.mapbox {
		max-width: 450px;
		width: 100%;
	}
	
	.panel {
		float: right;
		border: none;
	}

	.form {
		background: white;
		width: 200px;
		border: 1px solid grey;
		padding: 10px;
		margin: 5px;
	}
	div.box {
		margin-left: auto;
	    margin-right: auto;
	    padding: 10px;
	    width: 100%;
	    max-width: 300px;
	}

	input.btn {
		font-size: 15px;
		border-radius:5px;
		border: none;
		padding: 10px;
		background-color: purple;
		color: white;
	}

	button{
		font-size: 15px;
		border-radius:5px;
	}

	button.btn{
		border: none;
		padding: 10px;
		background-color: purple;
		color: white;
	}

	button.btnReg{
		border: 1;
		padding: 8px;
		color: purple;
		font-weight: bold;
		border-color: purple;
		background-color: white;
		border-style: solid;
	}

	.form {
	}

	.display {
	}

	.col-1 {
		width: 40%;
		float: left;
		margin: 10px;
	}
	
	.err {
			color: red;
			font-style: italic;
	}

	@media screen and (max-width: 720px) {
		html {
			width: 95%;
		}
		.col-1 {
			width: 100%;
			display: block;
			float: none;
			margin: 0;
		}

		.panel {
		float: right;
		}
	}