	html {
		width: 85%;
		margin: 0 auto;
	}

	img {
		width: 100%;
	}

	a:link {
		color: none;
	}

	a:visited {
		color: none;
	}

	.mapbox {
		max-width: 450px;
		width: 100%;
	}
	
	.panel {
		float: right;
	}
	button{
		font-size: 15px;
		border-radius:5px;
	}

	button.btn{
		border: none;
		padding: 10px;
		background-color: purple;
		color: white;
	}

	button.btnReg{
		border: 1;
		padding: 8px;
		color: purple;
		font-weight: bold;
		border-color: purple;
		background-color: white;
		border-style: solid;
	}

	.form {
	}

	.display {
	}

	.col-1 {
		width: 40%;
		float: left;
		margin: 10px;
	}
	
	.err {
			color: red;
			font-style: italic;
	}

	@media screen and (max-width: 720px) {
		html {
			width: 95%;
		}
		.col-1 {
			width: 100%;
			display: block;
			float: none;
			margin: 0;
		}

		.panel {
		float: right;
		}
	}