	html {
		width: 85%;
		margin: 0 auto;
	}

	.mapbox {
		max-width: 450px;
		width: 100%;
	}

	.panel {
		float: right;
	}

	.button {
		border: 0;
		padding: 10px;
		background-color: grey;
		color: white;
	}

	.form {
	}

	.display {
	}

	.col-1 {
		width: 40%;
		float: left;
		margin: 10px;
	}
	img {
		width: 100%;
	}
	.err {
			color: red;
			font-style: italic;
	}

	@media screen and (max-width: 720px) {
		html {
			width: 95%;
		}
		.col-1 {
			width: 100%;
			display: block;
			float: none;
			margin: 0;
		}

		.panel {
		float: right;
		}
	}