<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>CarPool</title>
        
        <link rel="stylesheet" href="carpool.css">
    </head>
    <body>
        
        <div class="container">
            <div class="nav">
                <h1 id="logo">CarPool</h1>
            </div>
            <div class="img">
                
                <h1 id="needaride">Testing Need a ride?</h1>
                <p>CarPool allow you to look for ride sharing whenever you need one.</p>
                <div id="trynow">Try Now</div>
                
            </div>
            
            <div class="benefit">
                <h1 id="whycarpool">Why car pool?</h1>
                <div class="row">
                    <div class="reason">
                        <h4>ENVIRONMENTAL FRIENDLY</h4>
                        <p>Car pooling will reduce number of car on the roads and hence reduce carbon emission that causes global warming. 
                        </p>
                    </div>
                    <div class="reason">
                        <h4>SAVE TIME</h4>
                        <p>Fewer cars on the road will improve traffic condition. This will get you to the destination in shorter period of time.
                        </p>
                    </div>
                    <div class="reason">
                        <h4>SAVE MONEY</h4>
                        <p>Sharing is caring. Sharing petrol fees makes everyone life easier.
                        </p>
                    
                    </div>
                    <div class="reason">
                        <h4>MEET NEW FRIENDS</h4>
                        <p>Hop on the car you found on CarPool and say hi to the driver. Chit chat on your ride and you might meet someone interesting that you want to keep in touch with.
                        </p>
                    </div>
                </div>
            </div>
            <div class="benefit">
                <div class="benefit-pic"></div>
                <div class="benefit-info">
                    <h1>SAFETY</h1>
                    <p>We verify every online user with university email accounts so that they are students just like you. Drivers are also require to submit their driving license in order to make offer. We strive to make sure users safety is protected and eliminate creepy people without identification. </p>
                </div>
            </div>
            <div class="footer">
                <em>Join us on</em><br>
                <a href="#">Twitter</a>
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
                
            </div>
            
        </div>
    </body>
</html>